<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Slogin</servlet-name>
        <servlet-class>com.br.cargafacil.servlet.Slogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUsuario</servlet-name>
        <servlet-class>com.br.cargafacil.servlet.SUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.br.cargafacil.controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogicCargaCadastrar</servlet-name>
        <servlet-class>com.br.cargafacil.controllerlogic.ControllerLogicCargaCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogicRedirect</servlet-name>
        <servlet-class>com.br.cargafacil.controller.ControllerLogicRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogicRedirecionamento</servlet-name>
        <servlet-class>com.br.cargafacil.controllerlogic.ControllerLogicRedirecionamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogicLogin</servlet-name>
        <servlet-class>com.br.cargafacil.controllerlogic.ControllerLogicLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogicLogout</servlet-name>
        <servlet-class>com.br.cargafacil.controllerlogic.ControllerLogicLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogicUsuarioAlterar</servlet-name>
        <servlet-class>com.br.cargafacil.controllerlogic.ControllerLogicUsuarioAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogicUsuarioListar</servlet-name>
        <servlet-class>com.br.cargafacil.controllerlogic.ControllerLogicUsuarioListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogicCargaExibir</servlet-name>
        <servlet-class>com.br.cargafacil.controllerlogic.ControllerLogicCargaExibir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogicCargaListar</servlet-name>
        <servlet-class>com.br.cargafacil.controllerlogic.ControllerLogicCargaListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.br.cargafacil.controllerlogic.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Slogin</servlet-name>
        <url-pattern>/Slogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUsuario</servlet-name>
        <url-pattern>/SUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogicCargaCadastrar</servlet-name>
        <url-pattern>/ControllerLogicCargaCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogicRedirect</servlet-name>
        <url-pattern>/ControllerLogicRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogicRedirecionamento</servlet-name>
        <url-pattern>/ControllerLogicRedirecionamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogicLogin</servlet-name>
        <url-pattern>/ControllerLogicLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogicLogout</servlet-name>
        <url-pattern>/ControllerLogicLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogicUsuarioAlterar</servlet-name>
        <url-pattern>/ControllerLogicUsuarioAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogicUsuarioListar</servlet-name>
        <url-pattern>/ControllerLogicUsuarioListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogicCargaExibir</servlet-name>
        <url-pattern>/ControllerLogicCargaExibir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogicCargaListar</servlet-name>
        <url-pattern>/ControllerLogicCargaListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/errospage/erro.jsp</location>
    </error-page>
</web-app>
