/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/09/2015, 21:23:02
    Author     : pepag
*/
#inputmenu {
position : relative; top : 25px;
}
#input {
position : relative; top : 5px;
}/*
#labelescrita {
position : relative; top : 43px; right: 135px;
}*/
#labelescrita_2 {
position : relative; top : 35px; right: 240px;
color: #222;
font-size: 25px;
}
.input-estilo{
    /*definimos a largura do box*/
     padding: 15px;
    /* definimos a altura do box */
    /* definimos a cor de fundo do box */
    /* definimos o quão arredondado irá ficar nosso box */
   border-radius: 15px;
    padding: 10px;
  border: #f4d00b 2px solid #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;}