/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/09/2015, 12:33:03
    Author     : pedropagotto
*/



/*redefine a pagina , todas as dimenções e cor*/
body{
    margin: 0px;
    margin: 0;
    padding:0;
    background:#eff0ef  url(icones/fundo-logo.png)  center; 
    background-size: auto;
    text-align: center;    
}
/*define a  pagina tamanho , cor , largura e posição*/
#tudo {
width: auto;

}

/*define o topo da pagina tamanho , cor , largura e posição*/

#topo {
width: auto;
height: 230px;
background:#eff0ef  url(icones/Logo.png) no-repeat center; 

}
/*define o login da pagina tamanho , cor , largura e posição*/
#login{
float: left;
width: 200px;
height: 505px;
position: relative;top: 1px; left:5px;
background-color: #0000FF;
}
/*define o menu da pagina tamanho , cor , largura e posição*/
#menu {
position: relative;top: 215px;
width: auto;
height: 5px;
background: #66ccff;
}
#menu-decorate{
position: relative;top: 2px;
width: auto;
 border-bottom: 5px solid #66ccff;
  font-family: Raleway, sans-serif;
  line-height: 3;
}
/*define o conteudo da pagina tamanho , cor , largura e posição*/

/*utilizado para quando tiver somente menu e inputs na tela */
#conteudo-include{
width: auto;
height: 800px;
position: static; top: 35px;
background-color: #FFFF00;
}
/*utilizado para quando tiver somente menu e inputs na tela */

/*utilizado somente quando houver slide na pagina */
#conteudo-slide{
width: auto;
height: 800px;
position: relative; top: 4px; 
/*background-color:#ff0033; */
}/*utilizado somente quando houver slide na pagina */

/*define o rodapé da pagina tamanho , cor , largura e posição*/
#rodape {
clear: both;
height: 55px;
width: auto;
position: relative; top: 15px;
background-color: #FFFF00;
}
/*define o rodapé da pagina tamanho , cor , largura e posição*/
#escitas-informacao{
    h1{
        position: relative; top:155px;
    }
    
}
