/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/09/2015, 12:33:03
    Author     : pedropagotto
*/



/*redefine a pagina , todas as dimenções e cor*/
body{
    margin: 0px;
    margin: 0;
    padding:0;
    background-color: #ffffff;
    background-size: auto;
    text-align: center;    
}
/*define a  pagina tamanho , cor , largura e posição*/
#tudo {
width: 788px;
}
/*define o topo da pagina tamanho , cor , largura e posição*/
#topo {
width: 1789px;
height: 300px;
background-color: #006400;
}
/*define o login da pagina tamanho , cor , largura e posição*/
#login{
float: left;
width: 250px;
height: 600px;
position: relative;top: 45px;
background-color: #0000FF;
}
/*define o menu da pagina tamanho , cor , largura e posição*/
#menu {
position: relative;top: 235px;
width: 1789px;
height: 55px;
background: aqua;
}
/*define o conteudo da pagina tamanho , cor , largura e posição*/
#conteudo {
width: 1525px;
height:  600px;
position: relative; top: 45px; left: 265px;
background-color: #FF0000;
}
/*define o rodapé da pagina tamanho , cor , largura e posição*/
#rodape {
clear: both;
height: 50px;
width: 1800px;
position: relative; top: 150px;
background-color: #FFFF00;
}