/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/09/2015, 12:33:03
    Author     : pedropagotto
*/



/*redefine a pagina , todas as dimenções e cor*/
body{
    margin: 0px;
    margin: 0;
    padding:0;
    background-color: #cccccc;
    background-size: auto;
    text-align: center;    
}
/*define a  pagina tamanho , cor , largura e posição*/
#tudo {
width: auto;

}
#logo{
   background: transparent url(icones/LG.png) left top no-repeat;
}

/*define o topo da pagina tamanho , cor , largura e posição*/
#topo {
width: auto;
height: 230px;
background-color: #006400;
}
/*define o login da pagina tamanho , cor , largura e posição*/
#login{
float: left;
width: 200px;
height: 505px;
position: relative;top: 1px; right: 145px;
background-color: #0000FF;
}
/*define o menu da pagina tamanho , cor , largura e posição*/
#menu {
position: relative;top: 2px;
width: auto;
height: 2px;
background: aqua;
}
/*define o conteudo da pagina tamanho , cor , largura e posição*/

#conteudo {
width: auto;
height: 800px;
position: relative; top: 15px;
background-color: #cccccc;
  
}

/*define o rodapé da pagina tamanho , cor , largura e posição*/
#rodape {
clear: both;
height: 55px;
width: auto;
position: relative; top: 1px;
background-color: #FFFF00;
}
